@if (Model.Instructions.Count > 0)
{
    @model BuscadorModel
<hr>
    <div class="row justify-content-md-center">
        <div class="col-md-auto" id="grid">
            <form method="post">
                <div class="input-group">
                    <input type="text" class="form-control col-sm-4" asp-for="Folio" required autofocus >
                    <div class="input-group-append">
                        <button class="btn btn-primary mr-4" type="submit" asp-page-handler="BuscarFolio">Folio</button>
                        <a asp-page="./Buscador?currentpage=1" class="btn btn-primary" asp-page-handler="Pagina">Volver</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

int path = 0;
    <div class="container-fluid table-responsive py-5" style="padding-right: 0px;padding-left: 0px;">        
        <table class="table table-sm">
            <thead>
                <tr>
                    @*<th>
                        F. Publicación
                        </th>*@
                    <th scope="col" class="text-center">
                        Fecha Emisión
                    </th>
                    <th class="text-center">
                        Folio
                    </th>
                    <th class="d-none d-xl-block">
                        Concepto
                    </th>
                    <th style="text-align: right;">
                        Neto
                    </th>
                    <th style="text-align: right;">
                        Iva
                    </th>
                    <th style="text-align: right;">
                        Total
                    </th>
                    <th class="text-center">
                    </th>
                    <th class="text-center">
                    </th>
                    <th class="text-center">
                    </th>
                </tr>
            </thead>
            
            <tbody>
               
                @foreach (var item in Model.Instructions)
                {
                    var existelink = false;
                    @if (item.DteResult != null)
                    {
                        //byte[] toEncodeAsBytes = System.Text.ASCIIEncoding.ASCII.GetBytes(@item.DteResult.RelativeEmissionFile);
                        //path = System.Convert.ToBase64String(toEncodeAsBytes);
                        path = @item.Id;
                        existelink = true;
                    }
                    <tr>
                        @*<td>
                            @{ var fecha = item.AuxiliaryData.PaymentMatrixPublication;
                            @String.Format("{0:dd-MM-yyyy}", fecha);
                            }
                            </td>*@
                        <td class="text-center">

                            @{
                                if (existelink)
                                {
                                    var emi = item.DteResult.EmissionDt;
                                    if (item.DteResult.EmissionDt != new DateTime(0001, 01, 01))
                                    {
                                        @String.Format("{0:dd-MM-yyyy}", emi);
                                    }
                                }
                                else
                                {

                                    <h6 class="font-weight-bold" style="color: #1b6ec2!important;">No facturado</h6>

                                    @*var fecha = item.AuxiliaryData.PaymentMatrixPublication;
                                        @String.Format("{0:dd-MM-yyyy}", fecha);*@

                                }
                            }
                        </td>
                        <td class="text-center">
                            @{
                                if (existelink)
                                {
                                    @Html.DisplayFor(modelItem => item.DteResult.Folio)
                                }
                                else
                                {
                                    <h7 class="text-center text-info">-</h7>
                                }
                            }
                        </td>
                        <td class="d-none d-xl-block">
                            @Html.DisplayFor(modelItem => item.AuxiliaryData.PaymentMatrixConcept)
                        </td>
                        <td style="text-align: right;">
                            @{
                                var monto = item.Amount;
                                @String.Format(System.Globalization.CultureInfo.GetCultureInfo("es-CL"), "{0:C}", monto) }
                        </td>
                        <td style="text-align: right;">
                            @{ @String.Format(System.Globalization.CultureInfo.GetCultureInfo("es-CL"), "{0:C}", monto * 0.19) }
                        </td>
                        <td style="text-align: right;">
                            @{ @String.Format(System.Globalization.CultureInfo.GetCultureInfo("es-CL"), "{0:C}", monto * 1.19) }
                        </td>
                        <td class="text-center">
                            @{
                                if (existelink)
                                {
                                    <a class="bi bi-search" asp-page="./Invoice" target="_blank" asp-route-render="@path" asp-page-handler="HtmlDoc"></a>
                                }
                            }
                        </td>
                        <td class="text-center">
                            @{
                                if (existelink)
                                {
                                    <a class="bi bi-file-code" asp-page="./Invoice" target="_blank" asp-route-render="@path" asp-page-handler="XmlDoc"></a>
                                }
                            }
                        </td>
                        <td class="text-center">
                            @{
                                if (existelink)
                                {
                                    <a class="bi bi-file-pdf" asp-page="./Invoice" target="_blank" asp-route-render="@path" asp-page-handler="PdfDoc"></a>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div>
            <ul class="pagination">
                @for (var i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                        <a asp-route-currentpage="@i" class="page-link" asp-page-handler="Pagina">@i</a>
                    </li>
                }
            </ul>
        </div>
    </div>
}
else
{
   <h6>@ViewData["count"]</h6>   
}


@section Scripts {

<partial name="_ValidationScriptsPartial" />

   @* @{ <script type="text/javascript">
    $(function () {
    $('#load').on('click', function () {
    var f = $("#folio").val();
    $('#grid').load('/Buscador?handler=CarPartial','folio=' +f);
    });
    });
    </script> }*@
}

