@if (Model.Instructions.Count > 0)
{
    @model BuscadorModel
<hr>
    <div class="row justify-content-md-center">
        <div class="col-md-auto" id="grid">
            <form method="post">
                <div class="input-group">
                    <input type="text" class="form-control col-sm-4" asp-for="Folio" required autofocus>
                    <div class="input-group-append">
                        <button class="btn btn-primary mr-4" type="submit" asp-page-handler="BuscarFolio">Folio</button>
                        <a asp-page="./Buscador?currentpage=1" class="btn btn-primary" asp-page-handler="Pagina">Volver</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

string path = string.Empty;   
    <div class="container-fluid table-responsive py-5" style="padding-right: 0px;padding-left: 0px;">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>
                    </th>
                    <th scope="col" class="text-center">
                        Fecha Emisión
                    </th>
                    <th class="text-center">
                        Folio
                    </th>
                    <th class="d-none d-xl-block">
                        Concepto
                    </th>
                    <th style="text-align: right;">
                        Neto
                    </th>
                    <th class="d-none d-xl-block" style="text-align: right;">
                        Iva
                    </th>
                    <th style="text-align: right;">
                        Total
                    </th>
                    <th class="text-center">
                    </th>
                    <th class="text-center">
                    </th>
                    <th class="text-center">
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Instructions)
                {
                    var existelink = false;
                    var dtecount = 0;            
                    
                    @if (item.DteResult != null && item.DteResult.Count > 0)
                    {

                        existelink = true;
                        dtecount = item.DteResult.Count;
                    }
                    <tr>
                        <td>
                            @if (item.DteResult != null && item.DteResult.Count > 1)
                            {
                                <img src="~/img/plus.png" />
                                <div style="display:none">
                                    <table class="table table-sm">
                                        <tr>
                                            <th scope="col" class="text-center">
                                                Fecha Emisión
                                            </th>
                                            <th class="text-center">
                                                Folio
                                            </th>
                                            <th class="d-none d-xl-block">
                                                Concepto
                                            </th>
                                            <th style="text-align: right;">
                                                Neto
                                            </th>
                                            <th class="d-none d-xl-block" style="text-align: right;">
                                                Iva
                                            </th>
                                            <th style="text-align: right;">
                                                Total
                                            </th>
                                            <th class="text-center">
                                            </th>
                                            <th class="text-center">
                                            </th>
                                            <th class="text-center">
                                            </th>
                                        </tr>

                                        @for (int y = 1; y < item.DteResult.Count; y++)
                                        {
                                            <tr>

                                                <td class="text-center">
                                                    @{
                                                        if (existelink)
                                                        {
                                                            var emi = item.DteResult[y].EmissionDt;
                                                            if (item.DteResult[y].EmissionDt != new DateTime(0001, 01, 01))
                                                            {
                                                                @String.Format("{0:dd-MM-yyyy}", emi)
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <h6 class="font-weight-bold" style="color: #1b6ec2!important;">No facturado</h6>
                                                        }
                                                    }
                                                </td>
                                                <td class="text-center">
                                                    @{
                                                        if (existelink)
                                                        {
                                                            @Html.DisplayFor(modelItem => item.DteResult[y].Folio)
                                                        }
                                                        else
                                                        {
                                                            <h7 class="text-center text-info">-</h7>
                                                        }
                                                    }
                                                </td>
                                                @{
                                    string t = string.Empty;
                                                    if (item.DteResult[y].Type == 1)
                                                    {
                                                        t = "33";

                                                    }
                                                    else if (item.DteResult[y].Type == 2)
                                                    {
                                                        t = "61";

                                                    }
                                                    @*path =$"E{item.Creditor}T{t}F{item.DteResult[i].Folio}R{item.Debtor}";*@
                                                    path = item.DteResult[y].Id.ToString();
                                                }
                                                <td class="d-none d-xl-block">
                                                    @Html.DisplayFor(modelItem => item.AuxiliaryData.PaymentMatrixConcept)
                                                </td>
                                                <td style="text-align: right;">
                                                    @{
                                                        var monto2 = item.DteResult[y].NetAmount;
                                                        @String.Format(System.Globalization.CultureInfo.GetCultureInfo("es-CL"), "{0:C}", monto2) }
                                                </td>
                                                <td class="d-none d-xl-block" style="text-align: right;">
                                                    @{ @String.Format(System.Globalization.CultureInfo.GetCultureInfo("es-CL"), "{0:C}", monto2 * 0.19) }
                                                </td>
                                                <td style="text-align: right;">
                                                    @{ @String.Format(System.Globalization.CultureInfo.GetCultureInfo("es-CL"), "{0:C}", monto2 * 1.19) }
                                                </td>
                                                <td class="text-center">
                                                    @{
                                                        if (existelink)
                                                        {
                                                            <a class="bi bi-search" asp-page="./Invoice" target="_blank" asp-route-render="@path" asp-page-handler="HtmlDoc"></a>
                                                        }
                                                    }
                                                </td>
                                                <td class="text-center">
                                                    @{
                                                        if (existelink)
                                                        {
                                                            <a class="bi bi-file-code" asp-page="./Invoice" target="_blank" asp-route-render="@path" asp-page-handler="XmlDoc"></a>
                                                        }
                                                    }
                                                </td>
                                                <td class="text-center">
                                                    @{
                                                        if (existelink)
                                                        {
                                                            <a class="bi bi-file-pdf" asp-page="./Invoice" target="_blank" asp-route-render="@path" asp-page-handler="PdfDoc"></a>
                                                        }
                                                    }
                                                </td>
                                            </tr>
                                        }

                                    </table>
                                </div>
                            }
                        </td>
                        <td class="text-center">
                            @{
                                if (existelink)
                                {
                                    var emi = item.DteResult[0].EmissionDt;
                                    if (item.DteResult[0].EmissionDt != new DateTime(0001, 01, 01))
                                    {
                                        @String.Format("{0:dd-MM-yyyy}", emi)
                                    }
                                }
                                else
                                {
                                    <h6 class="font-weight-bold" style="color: #1b6ec2!important;">No facturado</h6>
                                }
                            }
                        </td>
                        <td class="text-center">
                            @{
                                if (existelink)
                                {
                                    @Html.DisplayFor(modelItem => item.DteResult[0].Folio)
                                }
                                else
                                {
                                    <h7 class="text-center text-info">-</h7>
                                }
                            }
                        </td>
                        <td class="d-none d-xl-block">
                            @Html.DisplayFor(modelItem => item.AuxiliaryData.PaymentMatrixConcept)
                        </td>
                        <td style="text-align: right;">
                            @{
                                var monto = item.Amount;
                                @String.Format(System.Globalization.CultureInfo.GetCultureInfo("es-CL"), "{0:C}", monto) }
                        </td>
                        <td class="d-none d-xl-block" style="text-align: right;">
                            @{ @String.Format(System.Globalization.CultureInfo.GetCultureInfo("es-CL"), "{0:C}", monto * 0.19) }
                        </td>
                        <td style="text-align: right;">
                            @{ @String.Format(System.Globalization.CultureInfo.GetCultureInfo("es-CL"), "{0:C}", monto * 1.19) }
                        </td>
                        @{
                            if (existelink)
                            {
                                string t = string.Empty;
                                if (item.DteResult[0].Type == 1)
                                {
                                    t = "33";

                                }
                                else if (item.DteResult[0].Type == 2)
                                {
                                    t = "61";

                                }

                                @*path = $"E{item.Creditor}T{t}F{item.DteResult[0].Folio}R{item.Debtor}";*@
                                path = item.DteResult[0].Id.ToString();
                            }
                        }
                        <td class="text-center">
                            @{
                                if (existelink)
                                {
                                    <a class="bi bi-search" asp-page="./Invoice" target="_blank" asp-route-render="@path" asp-page-handler="HtmlDoc"></a>
                                }
                            }
                        </td>
                        <td class="text-center">
                            @{
                                if (existelink)
                                {
                                    <a class="bi bi-file-code" asp-page="./Invoice" target="_blank" asp-route-render="@path" asp-page-handler="XmlDoc"></a>
                                }
                            }
                        </td>
                        <td class="text-center">
                            @{
                                if (existelink)
                                {
                                    <a class="bi bi-file-pdf" asp-page="./Invoice" target="_blank" asp-route-render="@path" asp-page-handler="PdfDoc"></a>
                                }
                            }
                        </td>
                    </tr>
                     
                }
            </tbody>
        </table>
        <div>
            <ul class="pagination">
                @for (var z = 1; z <= Model.TotalPages; z++)
                {
                    <li class="page-item @(z == Model.CurrentPage ? "active" : "")">
                        <a asp-route-currentpage="@z" class="page-link" asp-page-handler="Pagina">@z</a>
                    </li>
                }
            </ul>
        </div>
    </div>
}
else
{
   
    <h6>@Model.Mensaje</h6>
}

@section Scripts {

<partial name="_ValidationScriptsPartial" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

}

